---
import { getIcon } from "vite-plugin-iconify-svgmap";

import "../lib/test.ts";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body style="background-color: #000; color: white">
		<h1>Astro</h1>
		<svg>
			<use href={await getIcon("heroicons", "arrow-left-circle-20-solid")}
			></use>
		</svg>
	</body>
</html>
