---
import { getIcon } from "vite-plugin-iconify-svgmap";

import "../lib/test.ts";

const icons = await Promise.all(
	[
		["logos", "azure-icon"],
		["octicon", "copilot-16"],
		["heroicons", "newspaper-solid"],
	].map(async ([pack, name]) => await getIcon(pack, name)),
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		{
			icons.map((href) => (
				<svg>
					<use {href} />
				</svg>
			))
		}
	</body>
</html>
